@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

body {
	font-family: 'PT Sans', 'Open Sans', 'Helvetica Neue', Helvetica, 'Gill Sans', Arial, 'Hiragino Sans GB', 'Heiti SC', 'Heiti TC', 'Hiragino Gothic Pro', 'STHeiti', 'STXiHei', 'Microsoft YaHei', sans-serif;
	font-size: 16px;
}

.header {
	height: 260px;
}

.header h1, .header h2 {
	font-weight: normal;
}

.header h1 {
	font-size: 2.25em;
}

.header h1 a {
	color: inherit;
	text-decoration: inherit;
}

.header h2 {
	font-size: 1em;
}

.header-social {
	float: right;
}

.main {
	width: 700px;
}